
# Upload and read the datasets
Merge geocoded dataset and evictions dataset.

In [2]:
#Import libraries
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots
import statsmodels.api as sm
sns.set()

import warnings # supress warnings
warnings.filterwarnings('ignore')
#import geodatasets

# Load the datasets
#df_evictions = gpd.read_csv('data/2023_Eviction_Notices.csv')
#df_geocoded = gpd.read_csv('data/evictions_geocoded.csv')

# Perform the merge
#merged_df = df_evictions.merge(df_geocoded, on=('City', 'Zip code'))

# Display the merged DataFrame
#print(merged_df)

#df_evictions = pd.read_csv('data/2023_Eviction_Notices.csv')
#df

In [3]:
import geopandas as gpd
import pandas as pd

# Load the datasets using pandas
df_evictions = pd.read_csv('data/2023_Eviction_Notices.csv')
df_evictions

,Notice Date,Date Received,Eviction Category,Cause,Address,City,Zip,Bedroom,Notice Type,Apn,Council District,Rent Owed
0,2/9/23,2/21/23,At-Fault,Non-payment of rent,14125 Garber St,Arleta,91331,NaN,3 Day,2642002018,6,"$12,701.70"
1,2/9/23,2/21/23,At-Fault,Non-payment of rent,14101 Garber St,Arleta,91331,NaN,3 Day,2642002014,6,"$17,886.60"
2,2/9/23,2/21/23,At-Fault,Non-payment of rent,14249 Hoyt St,Arleta,91331,NaN,3 Day,2644002011,6,"$6,218.17"
3,2/9/23,2/21/23,At-Fault,Non-payment of rent,13940 Nordhoff St,Arleta,91331,NaN,3 Day,2642032007,6,"$7,321.87"
4,2/28/23,2/28/23,At-Fault,Non-payment of rent,14265 Van Nuys Blvd,Arleta,91331,NaN,30 Day,2647023010,6,"$1,525.00"
...,...,...,...,...,...,...,...,...,...,...,...,...
77086,12/7/23,12/8/23,At-Fault,Non-payment of rent,22641 W DEL VALLE ST,Woodland Hills,91364,2.0,3 Day,2040032022,3,"$4,109.65"
77087,12/8/23,12/8/23,At-Fault,Non-payment of rent,6333 N CANOGA AVE,Woodland Hills,91367,1.0,3 Day,2146005036,3,"$1,795.00"
77088,12/7/23,12/11/23,At-Fault,Non-payment of rent,5480 QUAKERTOWN AVE,Woodland Hills,91364,1.0,3 Day,2166003019,3,"$3,590.00"
77089,12/8/23,12/12/23,At-Fault,Non-payment of rent,5480 QUAKERTOWN AVE,Woodland Hills,91364,1.0,3 Day,2166003019,3,"$3,190.00"
77090,12/8/23,12/12/23,At-Fault,Non-payment of rent,5480 QUAKERTOWN AVE,Woodland Hills,91364,1.0,3 Day,2166003019,3,"$3,590.00"

In [4]:
df_geocoded = pd.read_csv('data/evictions_geocoded.csv')
df_geocoded

,Unnamed: 0,formatted_address,latitude,longitude,accuracy,google_place_id,type,postcode,input_string,number_of_results,status
0,0,"7367 Hollywood Blvd, Los Angeles, CA 90046, USA",34.102045,-118.350714,ROOFTOP,ChIJn1QsGN6-woAR-WqccvGcHyY,premise,90046.0,"7367 Hollywood Blvd, Los Angeles, 90046",1,OK
1,1,"7367 Hollywood Blvd, Los Angeles, CA 90046, USA",34.102045,-118.350714,ROOFTOP,ChIJn1QsGN6-woAR-WqccvGcHyY,premise,90046.0,"7367 Hollywood Blvd, Los Angeles, 90046",1,OK
2,2,"7367 Hollywood Blvd, Los Angeles, CA 90046, USA",34.102045,-118.350714,ROOFTOP,ChIJn1QsGN6-woAR-WqccvGcHyY,premise,90046.0,"7367 Hollywood Blvd, Los Angeles, 90046",1,OK
3,3,"7367 Hollywood Blvd, Los Angeles, CA 90046, USA",34.102045,-118.350714,ROOFTOP,ChIJn1QsGN6-woAR-WqccvGcHyY,premise,90046.0,"7367 Hollywood Blvd, Los Angeles, 90046",1,OK
4,4,"7367 Hollywood Blvd, Los Angeles, CA 90046, USA",34.102045,-118.350714,ROOFTOP,ChIJn1QsGN6-woAR-WqccvGcHyY,premise,90046.0,"7367 Hollywood Blvd, Los Angeles, 90046",1,OK
...,...,...,...,...,...,...,...,...,...,...,...
77086,77086,"3191 W 7th St, Los Angeles, CA 90005, USA",34.060021,-118.294547,ROOFTOP,ChIJ0xG0pX7HwoARBhnxd309GG0,premise,90005.0,"3191 W 7TH ST, Los Angeles, 90005",1,OK
77087,77087,"3191 W 7th St, Los Angeles, CA 90005, USA",34.060021,-118.294547,ROOFTOP,ChIJ0xG0pX7HwoARBhnxd309GG0,premise,90005.0,"3191 W 7TH ST, Los Angeles, 90005",1,OK
77088,77088,"11049 W Magnolia Blvd, North Hollywood, CA 916...",34.165119,-118.358224,RANGE_INTERPOLATED,EjUxMTA0OSBXIE1hZ25vbGlhIEJsdmQsIE5vcnRoIEhvbG...,street_address,91601.0,"11049 W MAGNOLIA BLVD, Los Angeles, 91601",1,OK
77089,77089,"11049 W Magnolia Blvd, North Hollywood, CA 916...",34.165119,-118.358224,RANGE_INTERPOLATED,EjUxMTA0OSBXIE1hZ25vbGlhIEJsdmQsIE5vcnRoIEhvbG...,street_address,91601.0,"11049 W MAGNOLIA BLVD, Los Angeles, 91601",1,OK
77090,77090,"8555 Emerson Ave, Westchester, CA 90045, USA",33.960162,-118.404683,ROOFTOP,ChIJ36vi9cWwwoARhfVEEAFvjY4,premise,90045.0,"8555 S EMERSON AVE, Los Angeles, 90045",1,OK

In [5]:
import pandas as pd

# Load the dataset
df_geocoded = pd.read_csv('data/evictions_geocoded.csv')

# Check for null values in the entire DataFrame
null_values = df_geocoded.isnull().sum()

# Display the results
print("Null values in the entire DataFrame:")
print(null_values)

Null values in the entire DataFrame:
Unnamed: 0             0
formatted_address    331
latitude             331
longitude            331
accuracy             331
google_place_id      331
type                 331
postcode             633
input_string           0
number_of_results      0
status                 0
dtype: int64

In [6]:
import pandas as pd

# Load the dataset
df_evictions = pd.read_csv('data/2023_Eviction_Notices.csv')

# Check for null values in the entire DataFrame
null_values = df_evictions.isnull().sum()

# Display the results
print("Null values in the entire DataFrame:")
print(null_values)

Null values in the entire DataFrame:
Notice Date              6
Date Received            0
Eviction Category        0
Cause                    2
Address                  0
City                     0
Zip                      0
Bedroom              11867
Notice Type              0
Apn                      0
Council District         0
Rent Owed                0
dtype: int64

In [7]:
# Check data types
print(df_evictions.dtypes)
print(df_geocoded.dtypes)

Notice Date           object
Date Received         object
Eviction Category     object
Cause                 object
Address               object
City                  object
Zip                    int64
Bedroom              float64
Notice Type           object
Apn                    int64
Council District       int64
Rent Owed             object
dtype: object
Unnamed: 0             int64
formatted_address     object
latitude             float64
longitude            float64
accuracy              object
google_place_id       object
type                  object
postcode             float64
input_string          object
number_of_results      int64
status                object
dtype: object

In [8]:
# Check unique values
print(df_evictions['City'].unique())
print(df_evictions['Zip'].unique())

['Arleta' 'Beverly Hills' 'Canoga Park' 'Chatsworth' 'Culver City'
 'Eagle Rock' 'Encino' 'Gardena' 'Granada Hills' 'Harbor City' 'Hollywood'
 'La Crescenta' 'Lake Balboa' 'Lake View Terrace' 'Lomita' 'Los Angeles'
 'Mar Vista' 'Marina Del Rey' 'Mission Hills' 'North Hollywood'
 'North Hills' 'Northridge' 'Pacific Palisades' 'Pacoima' 'Panorama City'
 'Playa Del Rey' 'Playa Vista' 'Porter Ranch' 'Reseda' 'San Fernando'
 'San Pedro' 'Santa Monica' 'Sepulveda' 'Sherman Oaks' 'Studio City'
 'Sun Valley' 'Sunland' 'Sylmar' 'Tarzana' 'Thousand Oaks' 'Tijunga'
 'Toluca Lake' 'Torrance' 'Tujunga' 'Valley Glen' 'Valley Village'
 'Van Nuys' 'Venice' 'West Hills' 'West Hollywood' 'Westchester'
 'Wilmington' 'Winnetka' 'Woodland Hills']
[91331 90210 91303 91304 91306 91307 93063 91311 90230 90232 90066 90065
 91436 91316 90247 90248 91344 90710 90028 90046 90038 90068 90069 90027
 91214 91406 91342 90717 90029 90025 90042 90043 90035 90005 90004 90032
 90039 90018 90036 90012 90034 90017 90047 90019 90020 90059 90024 90048
 90013 90045 90014 90056 90008 91367 90026 90015 90006 90062 90302 90023
 90037 90064 90293 90011 90063 91607 91405 90031 90003 90044 90010 90041
 90016 90007 90057 90033 91335 90001 91601 90067 91604 90002 91605 91606
 91325 91411 91343 91324 90049 90744 90094 91402 90291 91401 91042 90061
 90731 91352 90272 90732 91423 91403 91602 91326 91356 91364 91040 90021
 90077 91345 90058 90292 90501 91340 90073 91504 92103 90402 91432]

In [9]:
print(df_geocoded['latitude'].unique())
print(df_geocoded['longitude'].unique())

[34.1020447 34.0938615 34.0917067 ... 33.9582771 33.9430007 34.0434279]
[-118.350714  -118.295827  -118.3063162 ... -118.2730127 -118.2380573
 -118.4618928]

# Merge two datasets 
We merge the two datasets 2023_Eviction_Notices.csv and evictions_geocoded.csv

In [ ]:
# Extracting the name from the input_string in df1
df_geocoded['Name'] = df_geocoded['input_string'].apply(lambda x: x.split(',')[0].strip())

# Merging on the 'Name' column
merged_df = pd.merge(df_geocoded, df_evictions, left_on='Name', right_on='Address', how='inner')

# Displaying the merged dataframe
merged_df.head()

In [9]:
import geopandas as gpd
import pandas as pd
# Load the datasets
df_evictions = gpd.read_csv('data/2023_Eviction_Notices.csv')
#df_geocoded = gpd.read_csv('evictions_geocoded.csv')
df_geocoded = pd.read_csv('data/evictions_geocoded.csv')

# Convert them to GeoDataFrames if they are not already
gdf_evictions = gpd.GeoDataFrame(df_evictions, geometry=gpd.points_from_xy(df_evictions.City, df_evictions.Zip))
gdf_geocoded = gpd.GeoDataFrame(df_geocoded, geometry=gpd.points_from_xy(df_geocoded.latitude, df_geocoded.longitude))

# Perform the spatial join
spatial_join = gpd.sjoin(gdf_evictions, gdf_geocoded, how='inner', op='intersects')

# Display the spatially joined DataFrame
print(spatial_join)

AttributeError: module 'geopandas' has no attribute 'read_csv'

In [21]:
import geopandas as gpd
import pandas as pd

# Load the datasets
df_evictions = gpd.read_file('data/2023_Eviction_Notices.csv')
df_geocoded = pd.read_csv('data/evictions_geocoded.csv')

# Convert them to GeoDataFrames if they are not already
gdf_evictions = gpd.GeoDataFrame(df_evictions, geometry=gpd.points_from_xy(df_evictions.City, df_evictions.Zip))
gdf_geocoded = gpd.GeoDataFrame(df_geocoded, geometry=gpd.points_from_xy(df_geocoded.latitude, df_geocoded.longitude))

# Perform the spatial join
spatial_join = gpd.sjoin(gdf_evictions, gdf_geocoded, how='inner', op='intersects')

# Display the spatially joined DataFrame
print(spatial_join)

ValueError: could not convert string to float: 'Arleta'